:root {
  --main-text-color: #181817;
  --brand-color: #ff9f0e;
  --accent-color: #fcb62a;
  --second-text-color: #ffff;
  --card-bg-color: #839aa9;
  --title-font: 'Rowdies', swap;
  --main-font: 'Roboto', swap;
}

$bp-mobile: 480px;
$bp-desctop: 1280px;
$bp-fullscreen: 1441px;
