.button {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  font-family: var(--main-font);
  background-color: var(--brand-color);
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: var(--accent-color);
}
.contact-button {
  display: none;
  @media screen and (min-width: $bp-desctop) {
    display: block;
  }
}

.cart-button {
  background-color: transparent;
  border: none;
  fill: var(--brand-color);
}
.cart-button > svg {
  width: 24px;
  height: 24px;

  @media screen and (min-width: $bp-desctop) {
    width: 40px;
    height: 40px;
    margin: 5px;
  }
}

.burger-btn {
  background-color: transparent;
  border: none;
  fill: var(--brand-color);
  align-items: center;
  padding: 0;
  height: 24px;
  display: flex;
  &__svg {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: $bp-desctop) {
    display: none;
  }
}

.explore-button {
  padding: 8px 24px;
  margin: 0 auto;
  display: block;
  font-size: 16px;
  @media screen and (min-width: $bp-desctop) {
    padding: 16px 32px;
  }
}
.about-explore-button {
  font-size: 16px;
  padding: 8px 24px;

  @media screen and (min-width: $bp-desctop) {
    padding: 16px 32px;
  }
}
.carousel-button {
  display: none;
  @media screen and (min-width: $bp-desctop) {
    border-radius: 50%;
    height: 46px;
    max-width: 46px;
    width: 100%;
    border: none;
    fill: var(--second-text-color);
    background-color: var(--card-bg-color);
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: block;
    transition: 0.3s;
  }
}

.carousel-button:hover {
  background-color: var(--brand-color);
}
.arrow {
  margin-top: 2px;
  width: 40px;
  height: 20px;
}

.next {
  transform: rotate(180deg);
}

.scroll-button {
  max-width: 32px;
  width: 100%;
  height: 24px;
  border: none;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
  transform: rotate(0);
}

.service-carousel-button {
  background-color: transparent;
  border: none;
  fill: var(--brand-color);
  width: 40px;
  height: 20px;
  transform: rotate(0deg);
}
