.product-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: $bp-desctop) {
    gap: 26px;
  }

  &__element {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    width: 152px;
    padding-bottom: 32px;
    @media screen and (min-width: $bp-desctop) {
      padding-bottom: 24px;
      width: 288px;
    }
  }

  &__element:hover {
    transform: scale(1.03);
    z-index: 1;
    transition: transform 0.3s;
    box-shadow: 0 8px 16px 0 rgba(24, 24, 23, 0.08);
  }
  &__stars-code-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: var(--card-bg-color);
    font-family: var(--main-font);
    text-align: center;
    gap: 8px;
    @media screen and (min-width: $bp-desctop) {
      font-size: 14px;
      gap: 16px;
      margin-bottom: 16px;
      margin-left: 20px;
    }
  }
  &__stars {
    width: 110px;
    object-fit: none;
  }
  &__desc-price {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__desc {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--main-font);

    @media screen and (min-width: $bp-desctop) {
      font-size: 16px;
    }
  }
  &__desc,
  &__price {
    text-align: center;
  }

  &__price {
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  &__new-price {
    font-weight: 600;
    font-size: 16px;
    font-family: var(--main-font);
    color: var(--main-text-color);
    @media screen and (min-width: $bp-desctop) {
      font-size: 18px;
    }
  }
  &__old-price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 12px;
    color: var(--card-bg-color);
    font-family: var(--main-font);
    @media screen and (min-width: $bp-desctop) {
      font-size: 14px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    max-width: 95px;
    width: 100%;
    border: none;
    align-items: center;
    padding: 9px 24px;

    @media screen and (min-width: $bp-desctop) {
      margin-top: 24px;
    }
  }
  &__button-text {
    font-weight: 500;
    font-size: 16px;
    font-family: var(--main-font);
    @media screen and (min-width: $bp-desctop) {
      font-size: 18px;
    }
  }
}
