.footer {
  position: relative;

  &__container {
    margin: 176px 108px 0px 108px;
    @media screen and (min-width: $bp-desctop) {
      margin: 90px 108px 90px 108px;
    }
  }
  &__nav {
    display: flex;
    margin-bottom: 32px;
    gap: 24px;
    flex-direction: column;
    align-items: center;
    padding-top: 14px;

    @media screen and (min-width: $bp-desctop) {
      gap: 100px;
      flex-direction: row;
      align-items: flex-start;
      max-width: 1000px;
      width: 100%;
    }
    @media screen and (min-width: $bp-fullscreen) {
      gap: 136px;
      flex-direction: row;
      align-items: flex-start;
      max-width: 1000px;
      width: 100%;
    }
  }
  &__social-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__logo {
    width: 92px;
    height: 20px;
  }

  &__social-list {
    display: flex;
    display: none;
    @media screen and (min-width: $bp-desctop) {
      display: flex;
    }
  }
  &__social-list-phone {
    display: flex;
    @media screen and (min-width: $bp-desctop) {
      display: none;
    }
  }

  &__social-network {
    width: 40px;
    height: 40px;
    text-align: center;
    fill: var(--brand-color);
  }

  &__menu-list {
    gap: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    @media screen and (min-width: $bp-desctop) {
      align-items: baseline;
    }
  }

  &__menu-item {
    font-weight: 400;
    font-size: 16px;

    @media screen and (min-width: $bp-desctop) {
      font-size: 18px;
    }
    :hover {
      color: var(--brand-color);
    }
  }
  &__menu-link {
    font-size: 18px;

    :hover {
      color: var(--brand-color);
    }
  }

  &__form-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__input {
    width: 240px;
    height: 24px;
    border: 1px solid var(--brand-color);
    padding: 8px 25px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: 0.05em;
    font-family: var(--main-font);
    color: var(--brand-color);
    background-color: #fffaf3;
    @media screen and (min-width: $bp-desctop) {
      width: 270px;
    }
  }

  &__input::placeholder {
    color: var(--brand-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
  }

  &__input:focus::placeholder {
    color: var(--brand-color);
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    color: var(--main-text-color);
  }
  &__input:focus {
    outline: 1px solid var(--brand-color);
  }
  &__button-contacts {
    border-radius: 4px;
    padding: 8px 24px;
    width: 126px;
    height: 35px;
    background-color: var(--brand-color);
    transition: 0.3s;
    border: none;
    margin: 0 auto;
    color: var(--second-text-color);
  }
  &__button-contacts:hover {
    background-color: var(--accent-color);
  }

  &__dog {
    position: absolute;
    width: 128px;
    height: 145px;
    top: -123px;

    @media screen and (min-width: $bp-desctop) {
      position: absolute;
      right: 50px;
      width: 290px;
      height: 305px;
      bottom: -90px;
      top: -64px;
    }
    @media screen and (min-width: $bp-fullscreen) {
      position: absolute;
      right: 500px;
      width: 290px;
      height: 305px;
      top: -64px;
    }
  }
}
