.product-section {
  @media screen and (min-width: $bp-desctop) {
    margin: 0 100px;
  }
  @media screen and (min-width: $bp-fullscreen) {
    margin: 0 180px;
  }

  &__slider {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    gap: 0;
    margin-top: 32px;
  }
  &__slider-container {
    display: flex;
    width: 288px;
    height: 24px;
    overflow: hidden;
    margin: 0 auto;
    @media screen {
    }
  }
}
